* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100%;
}
.project__link {
  height: 250px;
  width: 400px;
  margin: 20px 0;
}

:root {
  --blue: #425af5;
  --light: #f7f7f7f7;
  --red: #d01010;
  --dark: #4d4c4c;
}

.header__container {
  display: flex;
  height: 8vh;
  width: 100%;
  background-color: var(--light);
  z-index: 99;
}
a {
  text-decoration: none;
  margin: auto 0;
}

.header__profile {
  display: flex;
  width: 50%;
}

.header__profile__pic {
  width: 30px;
  margin: auto 10px auto 30px;
  border-radius: 50%;
}

.header__profile__name {
  margin: auto 0;
  color: var(--dark);
  text-decoration: none;
  font-weight: bold;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
ul {
  display: flex;
  flex: 1;
  justify-content: space-around;
  text-decoration: none;
  margin: auto 0;
  list-style-type: none;
}

ul > li > a {
  text-decoration: none;
  color: var(--red);
  font-weight: 600;
}
.burger {
  margin: auto 20px auto auto;
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--dark);
  margin: 3px;
  transition: all 0.3s ease;
}

.home__container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  margin-top: 8vh;
  justify-content: center;
}
.home__text {
  width: 35%;
  color: black;
  font-size: 1.2rem;
  margin-right: 20px;
}
.home__text__intro {
  color: var(--red);
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.text__description {
  color: #4d4c4c;
  margin-top: 15px;
  line-height: 1.8rem;
}

.home__container img {
  width: 400px;
}

.aboutMe__container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe__section {
  display: flex;
  justify-content: center;
  margin: auto 0;
  width: 90%;
}

.aboutMe__text {
  margin: auto 10% auto 0;
  width: 40%;
}

.aboutMe__image {
  margin: auto;
  max-width: 250px;
  border-radius: 12px;
}

.projects__container {
  margin: 20px auto 20px auto;
  height: 92vh;
  text-align: center;
  width: 90%;
}
.projects__container > h1 {
  padding: 20px 0;
}

.projects__images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 0;
  width: 90%;
  margin: 0 auto;
}

.textOverImage {
  position: relative;
  height: 250px;
  width: 400px;
  background-size: 100%;
  background-position: center;
  transition: 0.5s;
  margin: 0px auto;
  background-repeat: no-repeat;
}

.textOverImage:hover {
  background-size: 110%;
  cursor: pointer;
}

.textOverImage::after {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  word-wrap: break-word;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0 8px;
  opacity: 0;
  content: attr(data-text);
  white-space: pre-wrap;
  transition: 0.5s;
}

.textOverImage:hover::after {
  opacity: 1;
  top: 0;
  padding: 100px 8px;
}

.textOverImage::first-line {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}
@media (max-width: 800px) {
  .home__container {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .home__text {
    width: 80%;
  }

  .home__image {
    width: 250px;
  }

  .aboutMe__section {
    flex-direction: column;
    height: 80vh;
  }

  .aboutMe__text {
    width: 80%;
    order: 2;
    margin: auto;
  }

  .aboutMe__image {
    max-width: 150px;
    display: block;
    margin: auto;
    order: 1;
  }
  .projects__images {
    width: 100%;
  }
  .textOverImage,
  .project__link {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .header__profile {
    width: 80%;
  }

  .nav-links {
    width: 60%;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    flex-direction: column;
    align-items: center;
    background-color: var(--light) !important;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .home__container img {
    width: 90%;
  }

  .aboutMe__text {
    width: 100%;
  }

  .textOverImage,
  .project__link {
    width: 95%;
    margin: 0 auto;
    position: relative;
  }
}

.nav-active {
  transform: translateX(0%);
}

.projects__container {
  margin: 20px 0;
  width: 100%;
}

.project__images {
  width: 100%;
}
.textOverImage,
.project__link {
  margin-top: 20px;
  margin-bottom: 20px;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 3.5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -3.5px);
}
